
.bloque {
    /* display: block; */
}


.cambio {
    width: 200px;
    height: 200px;
    background-color: green;
    display: inline-block;
    transition: all 3s ease; /* Hay que ponerlo aquí para que afecte tanto en la ida como en la vuelta */
}

.cambio:hover {
    background-color: red;
    /* transition -> si pongo aquí el transition solo cambia al poner el mousehover no al quitarlo*/
    width: 150px;
    height: 150px;
}

.transparente {
    width: 200px;
    height: 200px;
    background-color: black;
    display: inline-block;
    
}

.transparente:hover {
    opacity: 0;
    transition: all 3s ease 0.2s;
}