/* Reset total */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------- Estilos -------------------- */

body {

	font-family: Arial, Helvetica, sans-serif;
	
}
#sidebar {
	width: auto;
    height: auto;
	position: absolute;
    top: 0px;
	left: 25px;
	color: white; 
}

#title {
	width: 230px;
	height: 50px;
	background-color: black;
}

#title p{
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	letter-spacing: 4px;
	padding-top: 15px;
}

#menu {
	background-color: rgba(12, 12, 12, 0.836);
	border: 1px solid black;
}

#menu a{
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	display: block;
	box-sizing: border-box;
}

#menu i{
	padding: 10px;
	box-sizing: border-box;
}

#menu a:hover {
	background-color: rgb(88, 84, 84);
	
}


.active {
	border-left: 8px solid green;
}


@media only screen and (min-width: 1350px) {

	#sidebar {
		width: auto;
		height: auto;
		position: absolute;
		top: 0px;
		left: 25px;
		color: white; 
	}
	#title {
	  display: none;
	}
	#menu a{
		display: inline-block;
		width: 16.38%;		
	}
	#menu {
		width: 95vw;
	}

  }