.prueba{
    position: absolute;
    top: 150px;
    left: 500px;
    background-color: rgb(138, 115, 115);
    width: 550px;
    padding: 15px ;
    font-size: 15px;
    box-sizing: border-box;
    span{
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }
    p{
        
        font-size: 17px;
        color: rgb(9, 2, 107);
    }
}